body {
  width: 250px;
  height: 150;
  max-height: 150px;
  margin-top: 30px;
  background-color: #FFFFFF;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 100px;
  margin: 0;


  overflow: hidden;
}

#background {
  position: absolute;
  margin-top: 45px;
  height: 45px;
  width: 100%;
  background-color: red;
}

#container {
  max-height: 200px;
  width: 250px;
}

#currencies {
  top: 25px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  margin-top: 25px;
  text-align: center;
  color: #2d3667;
}

h4 {
  color: #2d3667;
  font-size: 11px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

}

h5 {
  color: #2d3667;
  font-size: 8px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

}

img {
  width: 30%;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;

  transition: all 0.3s
}

#logo-font {
  width: 50%;
}

h2 {
  color: #333;
  position: absolute;
  bottom: 0
  left: 0;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 63px
}

#currencies {
  margin-top: 45px;

  transition: all 0.3s;
}

#info-icon {
  width: 7%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
  opacity: 0.4;

  transition: all 0.3s;
}

#close-icon {
  width: 5%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  cursor: pointer;
  opacity: 0;
  z-index: -999;

  transition: all 0.3s;
}

#info-box {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin-left: 110%;
  margin-top: 10%;
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  z-index: 99;
  opacity: 1;
  transition: all 0.3s;
}

#info-box img {
  width: 14%;
  z-index: 999;
  margin-top: 10px;
  margin-bottom: 30px;
}

#info-box h5 {
  font-size: 10px;
  margin-top: 20px;
}

#info-box #title {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}


#report-issues{
  margin-top: 20px;
  font-size: 10px;
  text-align: center;
}

#guideline {
  margin-top: 10px;
  font-size: 8px;
  text-align: center;
}

#error-box {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  margin-right: 110%;
  margin-top: 10%;
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  z-index: 50;
  opacity: 1;
  transition: all 0.3s;
}

#error-box #logo {
  width: 14%;
  z-index: 999;
  margin-top: 0px;
  margin-bottom: 15px;
}

#refresh-icon {
  width: 30%;
  cursor: pointer;
  opacity: 0.6;
  margin-top: 25px;
  margin-bottom: 25px;
}

#error-box #title {
  margin-top: 0px;
  font-size: 12px;
  margin-bottom: 0px;
  text-align: center;
}

#error-log {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
}

